SUPABASE_URL=xxxxxxxxxxxxxxxxxxxxxxx.supabase.co
SUPABASE_KEY=xxxxxxxxxxxxxxxxxxxxxxx
SUPABASE_SERVICE_ROLE_KEY=xxxxxxxxxxxxxxxxxxxxxxx
JWT_SECRET=RANDOM_SECRET

GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PORT=8000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=xxxxxxxxxxxxxxxx@mail.com
SMTP_PASS=xxxxxxxxxxxxxxxxxxxxx
